main section#game #grid{
    width: 800px;
    height: 800px;
    border: 1px solid red; 
    margin: 0 auto;
}
.my-square{
    width: calc(100% / 10); 
    height: calc(100% / 10);
    border: 2px solid tomato;
}